body{
	background: url(../images/dark_wall.png);
}

#container{
	width: 1024px;
	height: 768px;
	margin: 0 auto;
}

#logo{
	width: 50px;
	height: 50px;
	float: left;
	padding: 5px;
	clear: both;
	
}

/* START NAV MENU */
nav {
  background-color:#333;
  height: 40px;
  float: right;
  width: 964px;
  margin-top: 10px;
  
}
 
 nav ul {
  margin: 0;
  padding: 0;
  list-style: none; 
  line-height: 30px; 
  float: right;
}
 
nav ul li {
  display:inline-block;
 }
 
nav li ul { 
  display: none;
}
 
nav ul li a {
  display: block;
  text-decoration: none;
  padding: 5px 15px 3px 15px;
  background: #333;
  color: #ffffff;  
  margin-left: 1px;
  white-space: nowrap;
  height: 32px; /* Width and height of top-level nav items */
  width: 90px;
  text-align: center; 
   
 
}
 
nav ul li a:hover { 
  background:#666; 
}
 
 
#calltoaction{
	background-color: #000000;
	width: 100%;
	clear: both;
}

#footer{
	text-align: center;
}

