body{
	background: url(../images/dark_wall.png);
}

#container{
	width: 1024px;
	margin: 0 auto;
}

#logo{
	width: 50px;
	height: 50px;
	float: left;
	padding: 5px;
	clear: both;
	
}

/* START NAV MENU */
nav {
  background-color:#333;
  height: 40px;
  float: right;
  width: 964px;
  margin-top: 10px;
  
}
 
 nav ul {
  margin: 0;
  padding: 0;
  list-style: none; 
  line-height: 30px; 
  float: right;
}
 
nav ul li {
  display:inline-block;
 }
 
nav li ul { 
  display: none;
}
 
nav ul li a {
  display: block;
  text-decoration: none;
  padding: 5px 15px 3px 15px;
  background: #333;
  color: #ffffff;  
  margin-left: 1px;
  white-space: nowrap;
  height: 32px; /* Width and height of top-level nav items */
  width: 90px;
  text-align: center; 
  font-family: 'Julius Sans One', sans-serif;
}
 
nav ul li a:hover { 
  background:#666; 
}

#info{
	float: right;
	width: 555px;
	margin: 0px 65px 0px 0px;
}
 
#calltoaction{
	background-color: #000000;
	width: 100%;
	height: 550px;
	clear: both;
}

#calltoaction img{
	position: relative;
	top: 40px;
	margin: 25px;
}

.button_example{
border:1px solid #c3b980;
 -webkit-border-radius: 3px; 
 -moz-border-radius: 3px;
 border-radius: 3px;
 font-size:18px;
 font-family:helvetica, sans-serif; 
 padding: 10px 10px 10px 10px; 
 text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
 font-weight:bold; 
 text-align: center; 
 color: #FFFFFF; 
 background-color: #d5cea6;
 background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d5cea6), color-stop(100%, #b7ad70));
 background-image: -webkit-linear-gradient(top, #d5cea6, #b7ad70);
 background-image: -moz-linear-gradient(top, #d5cea6, #b7ad70);
 background-image: -ms-linear-gradient(top, #d5cea6, #b7ad70);
 background-image: -o-linear-gradient(top, #d5cea6, #b7ad70);
 background-image: linear-gradient(top, #d5cea6, #b7ad70);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#d5cea6, endColorstr=#b7ad70);
}

.button_example:hover{
 border:1px solid #b4a861; 
 background-color: #c5bb83;
 background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c5bb83), color-stop(100%, #a29752));
 background-image: -webkit-linear-gradient(top, #c5bb83, #a29752);
 background-image: -moz-linear-gradient(top, #c5bb83, #a29752);
 background-image: -ms-linear-gradient(top, #c5bb83, #a29752);
 background-image: -o-linear-gradient(top, #c5bb83, #a29752);
 background-image: linear-gradient(top, #c5bb83, #a29752);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#c5bb83, endColorstr=#a29752);
}

form{
	position: relative;
	top: 55px;
	left: 100px;
	
}


#main{
	width: 964px;
	height: 600px;
	margin: 0 auto;
}

#gallery{
	width: 100%;
	height: 300px; 
	margin:0 auto;
	text-align: center;
	background: rgba(25,25,25,0.5);
	
}

#gallery h2{
	padding-top: 25px;
	font-size: 35px;
	text-shadow: 4px 3px 0px #000, 9px 8px 0px rgba(0,0,0,0.25)}

.image  {
  text-align:center;
  display:inline-block;
  margin: 50px 50px 100px 50px;
  color: #FFF;
  font-family: 'Julius Sans One', sans-serif;
  font-size: 11px;
  
  }
  
.image img{
  margin:3px;
  border:1px solid #ffffff;
  margin: 0 auto;
  }
  
.image a:hover img{
  border:1px solid #000;
  }

  
#band{
	width: 500px;
	float: left;
	margin: 0 auto;
	clear: both;
	top: 324px;
}

#music{
	clear: both;
}

#footer{
	text-align: center;
	clear: both;
}

h2{
	color:#FFF;
	font-family: 'Julius Sans One', sans-serif;
	text-align: center;
}

h3{
	font-family: 'Julius Sans One', sans-serif;
	color: #FFF;
	font-size: 46px;
	text-align: right;
}

h4{
	font-family: 'Julius Sans One', sans-serif;
	color: #FFF;
	font-size: 22px;
	text-align: center;
}

ul{
	list-style: circle;
	color: #FFF;
}

.define{
	color:#FFF;
	text-align: center;
}

p{
	color: #FFF;
}

.footername{
	text-align: center;
}

aside{
	-moz-column-count:3; /* Firefox */
	-webkit-column-count:3; /* Safari and Chrome */
	column-count:3;
}

p .strong .em{
	text-align: center;
}#container #albums aside p strong {
	text-align: center;
}
