body{
	background: url(../images/dark_wall.png);
}

#container{
	width: 1024px;
	height: 768px;
	margin: 0 auto;
}

#logo{
	width: 50px;
	height: 50px;
	float: left;
	padding: 5px;
	clear: both;
	
}

/* START NAV MENU */
nav {
  background-color:#333;
  height: 40px;
  float: right;
  width: 964px;
  margin-top: 10px;
  
}
 
 nav ul {
  margin: 0;
  padding: 0;
  list-style: none; 
  line-height: 30px; 
  float: right;
}
 
nav ul li {
  display:inline-block;
 }
 
nav li ul { 
  display: none;
}
 
nav ul li a {
  display: block;
  text-decoration: none;
  padding: 5px 15px 3px 15px;
  background: #333;
  color: #ffffff;  
  margin-left: 1px;
  white-space: nowrap;
  height: 32px; /* Width and height of top-level nav items */
  width: 90px;
  text-align: center; 
  font-family: 'Julius Sans One', sans-serif;
}
 
nav ul li a:hover { 
  background:#666; 
}

#info{
	float: right;
	width: 555px;
	margin: 0px 65px 0px 0px;
}
 
#calltoaction{
	background-color: #000000;
	width: 100%;
	height: 550px;
	clear: both;
}

#calltoaction img{
	position: relative;
	top: 40px;
	margin: 25px;
}

p #button{
	float: left;
	position: relative;
	left: 95px;
	height: 75px;
	width: 200px;
	font-size:20px;
	font-family: 'Julius Sans One', sans-serif;
}


#footer{
	text-align: center;
}

h2{
	color:#FFF;
}

h3{
	font-family: 'Julius Sans One', sans-serif;
	color: #FFF;
	font-size: 46px;
	text-align: right;
}

.define{
	color:#FFF;
	text-align: center;
}

