body {
    background: url(../images/dark_wall.png);
	font: 100%/1.5;
	max-width: 1068px;
	margin: 36px auto;
	
}

#container {
    width: 100%; /*1024px*/
    margin: 0 auto;
    background: rgba(25,25,25,0.5);
    border: solid thin;
	overflow: hidden;
}
#menu{
	width: 93.75%; /*960px*/
	height: auto;
	margin: 36px auto;
}

#logo {
    float: left;
	width: 5.20%;
}

img{
	max-width: 100%;
	height: auto;
}


#logo1 {
	width: 5.20%;
    float: right;
    clear: both;
    margin: 3.41796875% 0% -4.39453125%;
}

/* START NAV MENU */
nav {
    background-color: #333; 
    float: right;
 	width:93.75%;/*900px*/
    margin-top: .9765625%; /*10px*/
}

nav ul {
    margin: 0%;
    padding: 0%;
    list-style: none;
    line-height: 195%;
    float: right;
}

nav ul li {
    display: inline-block;
}

nav li ul {
    display: none;
}

nav ul li a {
    display: block;
    text-decoration: none;
    padding: .51867219917% 1.55601659751% .311203319502%;
    background: #333;
    color: #fff;
    margin-left: .103734439834%;
    white-space: nowrap;
    
    width: 5.625em;
    text-align: center;
    font-family: 'Julius Sans One', sans-serif;
}

nav ul li a:hover {
    background: #666;
}

#calltoaction {
    background-color: #000;
    width: 93%;/*960px*/
  	float:left;
	margin:0 4.3945%;
}

#info {
    float: right;
    width: 50%;
    margin: 0 5% 5% 0;
	overflow: hidden;
	
}

#color {
    float: left;
    margin: 2.441%;
	width: 250px;
	height: 250px;
	clear: both;
	
}

.button_example {
    border: 0.063em solid #c3b980;
    -webkit-border-radius: 0.188em;
    -moz-border-radius: 0.188em;
    border-radius: 0.188em;
    font-size: 1.125em;
    font-family: helvetica, sans-serif;
    padding: 0.625em;
    text-shadow: -0.063em 0.063em 0 rgba(0,0,0,0.3);
    
    text-align: center;
    color: #FFF;
    background-color: #d5cea6;
    background-image: 0 color-stop(100%,#b7ad70));
    background-image: 0;
    background-image: 0;
    background-image: 0;
    background-image: 0;
    background-image: linear-gradient(top,#d5cea6,#b7ad70);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#d5cea6,endColorstr=#b7ad70);
}

.button_example:hover {
    border: 1px solid #b4a861;
    background-color: #c5bb83;
    background-image: 0 color-stop(100%,#a29752));
    background-image: 0;
    background-image: 0;
    background-image: 0;
    background-image: 0;
    background-image: linear-gradient(top,#c5bb83,#a29752);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#c5bb83,endColorstr=#a29752);
}

form {
    float: left;
	margin: 2.5em 0.938em 1.563em 5.938em;
	width: 18%;
	
}

#main {
    width: 94.140625%;
    height: 37.500em;
    margin: 0 auto;
	clear: both;
	
}

#gallery {
    width: 100%;
    margin: 0 auto;
    text-align: center;
	clear: both;
}

#gallery h2 {
    padding-top: 1.563em;
    font-size: 2.188em;
    text-shadow: 0.250em 0.188em 0 #000, 0.563em 0.5em 0 rgba(0,0,0,0.25);
	clear: both;
}

.image {
    text-align: center;
    display: inline-block;
    margin: 3.125em 3.125em 6.250em;
    color: #FFF;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 0.688em;
}

.image a img {
    margin: 0.188em;
    border: 0.1em solid #fff;
    margin: 0 auto;
	min-width:75%;
	
}

.image a:hover img {
    border: 0.063em solid #000;
	
}

.members {
    float: left;
    width: 45%;
	margin: 0 2.188em;
	clear: both;
}

.dates {
    float: right;
    width: 40%;
	margin: 0 2.188em 0 0;
	
}

#band {
    width: 78.125%;
    margin: 0 auto;
    clear: both;
}

#music {
    clear: both;
	width: 93.75%;
	margin: 0 auto;
	padding-top: 2em;
}

h2 {
    color: #FFF;
    font-family: 'Julius Sans One', sans-serif;
    text-align: center;
}

h3 {
    font-family: 'Julius Sans One', sans-serif;
    color: #FFF;
    font-size: 2.875em;
    text-align: right;
}

h4 {
    font-family: 'Julius Sans One', sans-serif;
    color: #FFF;
    font-size: 1.375em;
    text-align: center;
}

h5{
	text-align: center;
	color: #FFF;
	font-size: 1em;
}
		
	

ul {
    list-style: circle;
    color: #FFF;
}

.define {
    color: #FFF;
    text-align: center;
}

p {
    color: #FFF;
    text-align: justify;
}

.contact{
	color: #FFF;
	line-height: .5em;
	font-size: .75em;
}

form{
	margin-left: 25%;
}

.center {
    text-align: center;
}

#container #albums aside p strong {
    text-align: center;
}

.tracks {
    list-style-type: none;
}

.left {
    float: left;
    width: 93.75%;
    padding: 0 0 0.625em;
	-moz-column-count:3; /* Firefox */
-webkit-column-count:3; /* Safari and Chrome */
column-count:3;
-moz-column-width:31.25%; /* Firefox */
-webkit-column-width:31.25%; /* Safari and Chrome */
column-width:31.25%;
column-fill:balance;
}


footer {
    text-align: center;
    background-color: #333;
    clear: both;
    height: 1.875em;
    width: 940px;
    margin: 0 36px 36px;
}

.footername {
    text-align: center;
    padding-top: 0.375em;
    font-family: 'Julius Sans One', sans-serif;
}

.align {
    text-align: center;}

#albums{
	width: 93.75%;
	margin: 0 auto;
}

form{
	width: 50%;}
	
table{
	width: 100%;}
	
	@media screen and (min-width: 768px) and (max-width: 959px){}
	
			
		.left {
    width: 93.75%;
    padding: 0 0 0.625em;
	-moz-column-count:1; /* Firefox */
	-webkit-column-count:1; /* Safari and Chrome */
	column-count:1;

}
	
	
	
	@media only screen and (min-width: 480px) and (max-width: 767px){
	.video{display: none;}
			
		.left {
    width: 93.75%;
    padding: 0 0 0.625em;
	-moz-column-count:1; /* Firefox */
	-webkit-column-count:1; /* Safari and Chrome */
	column-count:1;

}

.members {
    float: none;
    width: 90%;
	padding: .2em;
	margin: 0 auto;
	border: .125em #FFF solid;
	clear: both;
}

.dates {
    float: none;
    width: 90%;
	padding: .2em;
	margin: .75em auto;
	border: .125em #FFF solid;
	
}

#band {
    width: 100%;
    margin: 0 auto;
    clear: both;
	
}

#color {
    margin: 0 auto;
	float: none;
}

#calltoaction {
    background-color: #000;
    width: 95%;/*960px*/
	margin:0 auto;
}

#info {
    width: 93.75%;
    margin: 0 auto;
	overflow: hidden;
	text-align: center;
	
}

h3{
	text-align: center;

	}
	
	img{
		text-align: center;
		}
		
		#gallery {
    width: 95%;
	margin: 0 auto;
   
}

#gallery h2 {
    padding-top: 1.563em;
    font-size: 2.188em;
    text-shadow: 0.250em 0.188em 0 #000, 0.563em 0.5em 0 rgba(0,0,0,0.25);
	clear: both;
}

.image {
    
    color: #FFF;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 1.5em;
	text-align: center;
}

.image a img {
   
	min-width:125%;
	text-align: center;
	
	
}

form{
	margin: 0 2em 2em 15em;
}
	}
@media only screen and (max-device-width: 479px) {
		
	.video{display: none;}
			
.left {
    width: 93.75%;
    padding: 0 0 0.625em;
	-moz-column-count:1; /* Firefox */
	-webkit-column-count:1; /* Safari and Chrome */
	column-count:1;}

#logo{
	float: none;
	min-width: 100%;
	margin: 0 auto;
	text-align: center;
	padding-bottom: 3em;
}
.members {
    float: none;
    width: 90%;
	padding: .2em;
	margin: 0 auto;
	border: .125em #FFF solid;
	clear: both;
}

.dates {
    float: none;
    width: 100%;
	padding: .2em;
	margin: .75em auto;
	border: .125em #FFF solid;
	
}

#band {
    width: 100%;
    margin: 0 auto;
    clear: both;
	
}

#color {
    margin: 0 auto;
	float: none;
}

#calltoaction {
    background-color: #000;
    width: 95%;/*960px*/
	margin:0 auto;
}

#info {
    width: 93.75%;
    margin: 0 auto;
	overflow: hidden;
	text-align: center;
	
}

h3{
	text-align: center;

	}
	

		
		#gallery {
    width: 95%;
	margin: 0 auto;
   
}

#gallery h2 {
    padding-top: 1.563em;
    font-size: 2.188em;
    text-shadow: 0.250em 0.188em 0 #000, 0.563em 0.5em 0 rgba(0,0,0,0.25);
	clear: both;
}

.image {
    
    color: #FFF;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 1.5em;
	text-align: center;
}

.image a img {
   
	min-width:125%;
	text-align: center;
	
	
}

form{
	margin: 0 2em 2em 4em;
}

footer{	
 width: 95%;
 margin: 0 auto;}
	}
			
